@{

}

@model TexterApp.Models.Message

<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.To)
    @Html.TextBoxFor(model => model.To)
    <br />
    @Html.LabelFor(model => model.From)
    @Html.TextBoxFor(model => model.From)
    <br />
    @Html.LabelFor(model => model.Body)
    @Html.TextBoxFor(model => model.Body)
    <br />
    <input type="submit" value="Send!" />
}

@Html.ActionLink("Back home", "Index")
